* {
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html, .body {
    display: flex;
    flex-flow: column nowrap;
}

a {
    text-decoration: none;
}

.section-one {
    background-color: #1f2937;
    display: flex;
    flex-flow: column nowrap;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
    color: white;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-left: 16%;
}

.header-links {
    list-style-type: none;
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    padding: 0px;
    margin-left: auto;
    margin-right: 8%;
    gap: 16px;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.content-one {
    display: flex;
    flex-flow: row nowrap;
    margin-top: 64px;
    margin-left: 16%;
    margin-right: 8%;
    margin-bottom: 64px;
    gap: 64px;
}

.content-one-left {
    flex: 0 1 40%;
    display: flex;
    place-content: space-between flex-start;
    flex-flow: column nowrap;
    gap: 16px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.content-one-text {
    font-size: 18px;
    color: #e5e7eb;
}

.content-one-right {
    flex: 0 1 50%;
    place-content: space-between flex-end;
    margin-left: auto;
    min-height: 300px;
}

.button-sign {
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    padding: 8px 16px;
    width: 126px;
    height: 40px;
    border: none;
    border-radius: 8px;
}

.content-one-image {
    max-width: 100%;
    margin-left: auto;
    flex: 0 1 auto;
    justify-self: end;
}

.section-two {
    margin-top: 64px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 16px;
}

h2 {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin-left: 16%;
    margin-right: 16%;
}

.image-two {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    gap: 8px;
}

.image-two img {
    border: none;
    border-radius: 16px;
    width: 180px;
    height: 180px
}

.image-two p {
    text-align: center;
}

.content-two {
    margin-top: 32px;
    margin-left: 16%;
    margin-right: 16%;
    margin-bottom: 126px;
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

.section-three {
    background-color: #e5e7eb;
}

.content-three {
    margin-left: 14%;
    margin-right: 12%;
    display: flex;
    flex-flow: column nowrap;
    padding: 0px 126px
}

.content-three p {
    font-size: 36px;
    margin-top: 126px;
    color: #1f2937;
    text-emphasis: italic;
}

.content-three h3 {
    margin-bottom: 126px;
    margin-left: auto;
    margin-right: 16px;
}

.section-four {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.content-four {
    background-color: #3882f6;
    border: none;
    border-radius: 8px;
    display: flex;
    align-items: center;
    padding: 64px 126px;
    margin-top: 126px;
    margin-left: 16%;
    margin-right: 10%;
    margin-bottom: 126px;
    gap: 265px;
}

.content-four-left {
    color: white;
}

.button-two {
    border: 2px solid white;
    flex: 0 0 auto;
}

.footer {
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    margin-top: auto;
    padding: 16px;
    color: white;
    background-color: #1f2937;
}

.footer p {
    margin-top:16px;
    margin-bottom: 16px;
}